<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <!--ui:include src="/header.xhtml" /-->
        <div class="Card">
            <h1 class="Card__title">Iniciar Sesión</h1>
            <h:form class="Card__form">
                <div class="Card__form__group">
                    <h:outputLabel value="Nombre de usuario:"/>
                    <h:inputText id="username" value="#{userLogin.username}" />
                </div>
                <div class="Card__form__group">
                    <h:outputLabel value="Contraseña:"/>
                    <h:inputText id="password" value="#{userLogin.password}" />
                </div>
                <div class="Card__form__group">
                    <h:commandButton value="Iniciar sesión" class="Card__form__button--submit" action="#{userLogin.login}"/>
                </div>
            </h:form>
        </div>
    </h:body>
</html>

