<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div class="LocateUs">
            <ui:include src="/header.xhtml" />
            <div class="View">
                <!--h1>Bienvenido #{userLogin.message}</h1-->

                <h1 class="Title">Ubícanos</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124850.93821177741!2d-77.10369543898683!3d-12.07158108490135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c964a95c5ee3%3A0xb13fa97c5979bd6f!2sCentro%20Terap%C3%A9utico%20Internacional!5e0!3m2!1ses!2scl!4v1634344347038!5m2!1ses!2scl" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </h:body>
</html>

